[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
langgraph = "*"
langchainhub = "*"
tavily-python = "*"
python-dotenv = "*"
black = "*"
isort = "*"
pytest = "*"
pinecone = "*"
langchain = "*"
langchain-core = "*"
langchain-community = "*"
langchain-openai = "*"
langchain-text-splitters = "*"
langchain-pinecone = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"

[scripts]
start = "python main.py"
test = "pytest tests/ -s -v"
ingest = "python ingestion.py --ingest"
query = "python ingestion.py"
